# Ignore all files in the .idea directory
/.idea/                 # CLion’s project settings (local to your machine)

# Ignore the binaries
/work/bin/              # Compiled executables go here

# Ignore certain other files related to CMake or CLion
CMakeLists.txt.user     # CLion’s personal CMake settings
cmake-build-debug/      # Build directory for Debug
cmake-build-release/    # Build directory for Release
